#header{
 width: 100%;
 height: 19vh;
 background-color: lime;
}
.headertable{
 width: 100%;
 text-align: center; 
}
.td1{
 height: 20px;
 width: 20px;
 margin-bottom: 10px;
 vertical-align: top;
}
.td2{
 text-align: center;
 font-size:32px;
 font-family: algerian;
 
}
.a{
  height: 100;
  width: 900;
  float: left;
  margin: 5px;
}
.b{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.c{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.d{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.e{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.f{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.g{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.h{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.i{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.j{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.k{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.l{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.m{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.n{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.o{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.p{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.q{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.r{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.s{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.t{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.u{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.v{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}
.w{
  height: 100;
  width: 300;
  float: left;
  margin: 5px;
}

nav {
background-color: lightslategrey;
padding:0px;
margin: 0px;
height: 70px;
width: 100%;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

nav li {
margin-left:220px;
}

nav a {
color: #fff;
text-decoration: none;

}
nav a:hover {
color: #ccc;
}
.search{
  background-color:lightgreen;
  border-radius: 50%;
  margin: 0px;
  height: 90px;
}
h1{
top: 50%;
left: 30%;
}
#aa{
  margin-top: 0px;
width: 400%;
position: relative;
left: 0%;
animation: 10s gg infinite;
}
#aa img{
width: 24.9%;
height: 580px;
}
#navigation{
  float: right;
  
}
@keyframes gg {
0%{left:0%}
25%{left:0%}

30%{left:-100%}
50%{left:-100%}

55%{left:-200%}
75%{left:-200%}

80%{left:-300%}
100%{left:-300%}
}
